@import '../../../../../../styles/vars';
@import '../../../../../../styles/functions';

.section {
    position: relative;
    min-height: 100vh;
    background-color: $darker-light;
    overflow: hidden;

    @media screen and (min-width: 1500px) and (max-width: 1920px) {
        min-height: wv-1460(900px);
    }

    @media screen and (min-width: 1024px) and (max-height: 700px) {
        position: relative;
        min-height: wv-1200(768px);
    }
}

.sectionWrapper {
    @include wrapper();
    display: grid;
    grid-template-columns: 1fr wv-1460(940px);
    gap: wv-1460(15px);
    min-height: 100vh;
    width: 100%;
    padding-top: vh-900(90px);
    padding-bottom: vh-900(20px);

    @media screen and (min-width: 1500px) and (max-width: 1920px) {
        min-height: wv-1460(900px);
    }

    @media screen and (min-width: 1024px) and (max-height: 700px) {
        min-height: wv-1460(768px);
    }

    @media screen and (min-width: 1024px) and (max-width: 1370px) and (orientation: portrait) {
        padding-top: wv-1200(90px);
        padding-bottom: wv-1200(20px);
    }

    @include laptop() {
        min-height: wv-1200(900px);
        padding-top: vw-1200(90px);
        padding-bottom: vw-1200(20px);
    }

    @include tablet() {
        display: flex;
        flex-direction: column;
        min-height: auto;
        padding-top: wv-768(40px);
        padding-bottom: wv-768(40px);
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        padding-top: wv-380(83px);
        padding-bottom: wv-380(16px);
    }
}

.mediaWrapper {
    position: relative;
    display: flex;
    grid-column: 2 / -1;
    grid-row: 1 / 3;
    z-index: 3;

    @include tablet() {
        margin-bottom: wv-768(20px);
        flex-direction: row-reverse;
        order: 1;
    }

    @include mobile {
        margin-bottom: wv-380(22px);
        flex-direction: row-reverse;
        order: 1;
    }
}

.imgWrapper {
    position: relative;
    width: wv-1460(580px);
    height: 100%;

    @include tablet() {
        width: wv-768(350px);
        height: wv-768(500px);
    }

    @include mobile {
        width: wv-380(210px);
        height: wv-380(280px);
        transform: scale(-1, 1);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    &__hider {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $darker-light;
    }
}

.videoWrapper {
    position: relative;
    width: wv-1460(340px);
    height: wv-1460(340px);
    margin-left: wv-1460(20px);

    @include tablet() {
        width: wv-768(180px);
        height: wv-768(220px);
        align-self: flex-end;
        margin-right: wv-768(20px);
    }

    @include mobile {
        width: wv-380(120px);
        height: wv-380(140px);
        margin-left: 0;
        margin-right: auto;

        align-self: initial;
    }
}

.title {
    @include H2();
    position: relative;
    color: $dark-grey;
    margin-top: wv-1460(-4px);
    margin-bottom: wv-1460(14px);
    z-index: 4;

    @include laptop() {
        // top: wv-1200(80px);
        font-size: wv-1460(98px);
        line-height: wv-1460(90px);
        margin-bottom: wv-1200(14px);
    }

    @include tablet() {
        position: absolute;
        top: wv-768(40px);
        left: wv-768(20px);
        line-height: wv-768(60px);
        width: wv-768(355px);
        margin-bottom: 0;

        font-size: wv-768(60px);
        order: 0;
    }

    @include mobile {
        margin-bottom: wv-380(19px);
        line-height: wv-380(40px);
        order: 0;
    }

    &__highlighted {
        color: $brick-light;
        position: relative;
        left: 0;
        top: 0;
        z-index: 1;
        display: inline-block;
    }

    &__1 {
        position: relative;
        z-index: 2;
        right: wv-1460(-285px);
        top: 0;
        display: inline-block;

        @include laptop() {
            right: wv-1200(-190px);
        }

        @include mobile {
            right: auto;
            margin-left: wv-380(38px);
        }
    }

    &__2 {
        z-index: 2;
        position: relative;
        display: inline-block;

        @include mobile {
            margin-left: wv-380(36px);
        }
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.textWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: wv-1460(5px);

    @include tablet() {
        flex-direction: column-reverse;
        order: 2;
    }

    @include mobile {
        flex-direction: column-reverse;
        order: 2;
    }
}

.btnWrapper {
    position: relative;
    margin-right: wv-1460(10px);
    // top: vh-900(-118px);
    // width: wv-1460(182px);
    margin-right: auto;
    z-index: 5;

    @include laptop() {
        // width: wv-1200(182px);
    }

    @include tablet() {
        top: auto;
        width: auto;
        margin-right: auto;
        margin-left: initial;
        margin-bottom: wv-768(60px);
    }

    @include mobile {
        width: auto;
        margin-bottom: wv-380(74px);
    }
}

.titleWrapper {
    display: flex;
    flex-direction: column;
}

.btnShow {
    position: absolute;
    top: 50%;
    left: 0;
}

.text {
    @include T1;
    width: wv-1460(270px);
    margin-top: auto;

    @media screen and (min-width: 1024px) and (max-height: 700px) {
        width: wv-1200(360px);
    }

    @include laptop() {
        width: 100%;
        max-width: wv-1200(360px);
    }

    @media screen and (min-width: 1024px) and (max-width: 1090px) and (orientation: portrait) {
        font-size: wv-1200(16px);
        line-height: wv-1200(20px);
    }

    @include tablet() {
        width: 100%;
        margin-bottom: wv-768(25px);
    }

    @include mobile {
        width: 100%;
        margin-bottom: wv-380(25px);
    }
}

.plan {
    position: absolute;
    bottom: wv-1460(15px);
    right: wv-1460(20px);

    @include tablet() {
        order: 3;
        position: relative;
        bottom: auto;
        right: auto;
    }

    @include mobile {
        order: 3;
        position: relative;
        bottom: auto;
        right: auto;
    }

    svg {
        width: wv-1460(220px);
        height: wv-1460(173px);

        @include laptop() {
            width: wv-1200(220px);
            height: wv-1200(173px);
        }

        @include tablet() {
            width: wv-768(120px);
            height: wv-768(92px);
        }

        @include mobile {
            width: wv-380(120px);
            height: wv-380(92px);
        }
    }
}

.fixed {
    .title {
        position: fixed;
        top: wv-1460(90px);
        width: wv-1460(545px);
        z-index: 4;

        @media screen and (min-width: 1024px) and (max-height: 700px) {
            position: relative;
        }

        @include laptop() {
            top: wv-1200(110px);
        }
    }

    .btnWrapper {
        position: fixed;
        top: wv-1460(370px);
        left: wv-1460(20px);

        @media screen and (min-width: 1024px) and (max-height: 700px) {
            position: absolute;
            top: 0;
        }

        @include laptop() {
            top: wv-1200(390px);
        }

        @include mobile {
            min-width: wv-380(179px);
            margin-bottom: wv-380(74px);
        }
    }

    .plan {
        position: fixed;
        bottom: wv-1460(15px);
        right: wv-1460(21px);
    }

    .text {
        position: fixed;
        bottom: wv-1460(25px);
        left: wv-1460(20px);

        @media screen and (min-width: 1024px) and (max-height: 700px) {
            position: relative;
        }
    }
}

.portrait {
    @media screen and (orientation: portrait) {
        position: relative;
        min-height: wv-1460(900px);
    }

    .sectionWrapper {
        @media screen and (orientation: portrait) {
            min-height: wv-1460(900px);
        }

        @media screen and (min-width: 1024px) and (max-width: 1090px) and (orientation: portrait) {
            min-height: 60vh;
        }
    }

    .title {
        @media screen and (orientation: portrait) {
            position: relative;
            top: auto;
            width: auto;
            z-index: 4;
        }

        @include tablet() {
            @media screen and (orientation: portrait) {
                position: absolute;
                top: wv-768(40px);
                left: wv-768(20px);
                width: wv-768(355px);
            }
        }

        @include mobile() {
            position: relative;
            width: auto;

            top: auto;
            left: auto;
        }
    }

    .btnWrapper {
        @media screen and (orientation: portrait) {
            position: relative;
            top: auto;
            left: auto;
        }
    }

    .plan {
        @media screen and (orientation: portrait) {
            position: absolute;
            bottom: wv-1460(15px);
            right: wv-1460(20px);
        }

        @include tablet() {
            position: relative;
            bottom: auto;
            right: auto;
        }

        @include mobile {
            position: relative;
            bottom: auto;
            right: auto;
        }
    }

    .text {
        @media screen and (orientation: portrait) {
            position: relative;
            bottom: auto;
            left: auto;
        }
    }
}
