@import '../../../../../styles/vars';
@import '../../../../../styles/functions';

.container {
    position: relative;
    width: 100vw;
    z-index: 2500;
    background-color: $dark-grey;
    box-shadow: -12px 0 8px -4px $dark-grey;
}

.history {
    display: flex;
    position: relative;
    width: 100vw;
    z-index: 2500;
    background-color: $dark-grey;
    box-shadow: -12px 0 8px -4px $dark-grey;

    &Intro {
        position: relative;

        &Img {
            aspect-ratio: 400 / 460;
            width: wv-1460(400px);
            max-width: 40vw;
            height: auto;
            object-fit: cover;

            @include laptop() {
                width: wv-1200(300px);
            }
        }
    }

    &Left {
        width: 48vw;
        height: 100%;
        position: relative;
        background-color: $dark-grey;
        @include padding-left();
        @include padding-top();
        @include padding-bottom();
        @include padding-right();

        &Sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 48vw;
            height: 100vh;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $dark-grey;

            @include laptop() {
                height: 100vh;
            }
        }

        &Intro {
            width: 48vw;
            height: 100vh;
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &Img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        aspect-ratio: 400 / 460;
        width: wv-1460(400px);
        max-width: 400px;
        height: auto;
        object-fit: cover;
        z-index: 2;
        overflow: hidden;

        @include laptop() {
            width: wv-1200(300px);
        }

        &Animation {
            width: 100%;
            height: 100%;
        }

        &Image {
            aspect-ratio: 400 / 460;
            width: wv-1460(400px);
            max-width: 400px;
            height: auto;
            object-fit: cover;

            @include laptop() {
                width: wv-1200(300px);
            }
        }
    }

    &Title {
        @include H1();
        position: relative;
        top: 20px;
        left: 20px;
        z-index: 3;
        width: 100%;

        &First {
            color: $light;
            position: absolute;
            left: 0;
            top: 0;
        }

        &Second {
            color: $brick;
            position: absolute;
            left: 0;
            top: wv-1460(140px);
        }
    }

    &Right {
        position: relative;
        z-index: 2500;
        width: 52vw;
        background-color: $light;
        @include padding-left();
        padding-top: 80px;
        @include padding-right();
        padding-bottom: wv-1460(36px);
        margin-left: auto;
    }
}

.story {
    margin-bottom: vh-900(100px);
    position: relative;
    z-index: 2500;

    &Title {
        @include H4();
        color: $brick;
        max-width: wv-1460(340px);
        margin-left: auto;
        white-space: normal;
        overflow-wrap: break-word;
    }

    &Item {
        margin-top: vh-900(56px);
        border-top: 1px solid rgba($dark-grey, 0.2);
        @include padding-top();
        display: flex;
        justify-content: space-between;

        &Age {
            @include H5();
            color: $dark-grey;
        }

        &Text {
            max-width: wv-1460(340px);
            padding-right: wv-1460(70px);
            @include T1();
            color: $dark-grey;
            white-space: normal;
            overflow-wrap: break-word;
        }
    }
}

.historyMobile {
    padding: wv-768(20px);
    padding-bottom: 70px;
    background-color: $light;
    width: 100vw;
    position: relative;
    z-index: 30;

    @include mobile() {
        padding: wv-380(20px);
        padding-bottom: 70px;
        z-index: 5;
    }

    &Title {
        @include H1();
        position: relative;
        z-index: 3;
        height: 140px;

        &First {
            color: $dark-grey;
            position: absolute;
            left: 0;
            top: 0;

            @include mobile() {
                left: 0;
            }
        }

        &Second {
            color: $brick;
            position: absolute;
            left: 400px;
            bottom: 0;

            @media screen and (max-width: 820px) {
                left: wv-768(250px);
            }

            @include mobile() {
                left: wv-380(210px);
            }
        }
    }

    &Img1 {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 74px;
    }

    &DescTitle {
        @include H4();
        color: $brick;
        padding-bottom: 36px;
    }
}

//стили аккордеона
.accordion_details {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgb(57, 61, 70, 0.2);

    &[open] {
        padding-bottom: wv-1460(58px);
        @include laptop() {
            padding-bottom: wv-1200(58px);
        }
        @include tablet() {
            padding-bottom: wv-768(58px);
        }
        @include mobile() {
            padding-bottom: wv-380(36px);
        }
    }
    .accordion_title {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include H4();
        &::-webkit-details-marker {
            display: none;
        }
        .accordion_title_text {
            @include H5();
            width: wv-1460(750px);
            @include laptop() {
                width: 90%;
            }
            @include tablet() {
                width: 85%;
            }
            @include mobile() {
                @include H5();
                width: 80%;
                &:hover {
                    color: $dark-grey !important;
                }
            }
            @include hover() {
                &:hover {
                    color: $brick;
                }
            }
        }
        .accordion_btn {
            position: relative;
        }
    }
    .accordion_answer {
        @include T1();
        margin-top: wv-1460(25px);
        border-top: 1px solid $brick;
        padding-top: wv-1460(21px);
        a {
            color: $brick;
        }
        @include laptop() {
            margin-top: wv-1200(25px);
            padding-top: wv-1200(21px);
        }
        @include tablet() {
            margin-top: wv-768(25px);
            padding-top: wv-768(21px);
        }
        @include mobile() {
            padding-top: wv-380(16px);
            margin-top: wv-380(16px);
            @include T1();
        }
        p {
            width: wv-1460(750px);
            @include laptop() {
                width: 90%;
            }
            @include tablet() {
                width: 85%;
            }
            @include mobile() {
                width: 100%;
            }
        }
    }
}

.visuallyHidden {
    @include visually-hidden();
}
