@import "../../../../../styles/vars";

.container {
  background-color: $darker-light;
  padding-top: wv-1460(82px);
  padding-bottom: wv-1460(100px);

  @include laptop() {
    padding-top: wv-1200(82px);
    padding-bottom: wv-1200(100px);
  }

  @include tablet() {
    padding-top: wv-768(46px);
    padding-bottom: wv-768(64px);
  }

  @include mobile() {
    padding-top: wv-380(16px);
    padding-bottom: wv-380(64px);
  }
}

.title {
  @include wrapper();
  @include H1;
  margin-bottom: wv-1460(20px);

  @include laptop() {
    margin-bottom: wv-1200(20px);
  }

  @include tablet() {
    margin-bottom: wv-768(20px);
  }

  @include mobile() {
    margin-bottom: wv-380(64px);
  }

  span {
    display: block;
  }

  span:last-child {
    color: $brick;
    text-align: right;

    @include tablet() {
      transform: translateY(wv-768(-10px));
    }

    @include mobile() {
      transform: translateY(wv-380(-10px));
    }
  }
}

.img {
  height: 75vh;
  width: 120vh;

  @include laptop() {
    height: 75vh;
    width: 120vh;
  }

  @include tablet {
    height: wv-768(342px);
    width: wv-768(550px);
  }

  @include mobile() {
    height: wv-380(220px);
    width: wv-380(340px);
  }
}

.text {
  position: absolute;
}