@import "../../../../../styles/vars";
@import "../../../../../styles/functions";


.container {
  // width: 100vw;
  width: 100%;
  min-height: 118vh;
  position: relative;
  @include wrapper();
  padding-bottom: 41.1vh;
  overflow: hidden;
  z-index: 1;

  @include mobile {
    min-height: auto;
    height: 90vh;
  }

  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .stickCard {
    position: absolute;
    top: 31.1%;
    left: 9.59%;
    @include mobile() {
      position: absolute;
      @include wrapper();
      top: wv-380(30px);
      left: 0;
      width: 100%;
      margin-bottom: 15px;
    }

    .slider {
      height: 100%;
      width: 20vw;
      overflow: hidden;
      cursor: grab;
      @include mobile() {
        width: 77vw;
      }
    }

    .slide {
      width: 20vw;
      margin-left: 1px;
      @include mobile() {
        width: 77vw;
      }
    }

    .arrows {
      display: flex;
      margin-top: 13vh;
      // margin-top: 7.9vw;
      button {
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}

