@import "../../../../../styles/functions";
@import "../../../../../styles/vars";

.lifestyle {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/images/about/lifestyle-block.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

    @include mobile() {
      background-position: 42% center;
    }
  }

  .wrapper {
    position: relative;
    @include wrapper;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: wv-1460(40px);

    @include laptop() {
      padding-bottom: wv-1200(40px);
    }

    @include tablet() {
      padding-bottom: wv-768(30px);
      background: linear-gradient(325.48deg, rgba(0, 0, 0, 0.7) 19.52%, rgba(0, 0, 0, 0) 65.83%);
    }

    @include mobile() {
      padding-bottom: wv-380(30px);
      background: linear-gradient(325.48deg, rgba(0, 0, 0, 0.7) 19.52%, rgba(0, 0, 0, 0) 65.83%);
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .text {
        width: wv-1460(339px);
        @include H5;
        color: $light;
        transition: all 1s;

        @include laptop() {
          width: wv-1200(339px);
        }

        @include tablet() {
          width: 100%;
        }

        @include mobile() {
          width: 100%;
        }
      }
    }

    .btn {
      margin-top: wv-1460(35px);
      transition: all 1s;

      @include laptop() {
        margin-top: wv-1200(35px);
      }

      @include tablet() {
        margin-top: wv-768(31px);
      }

      @include mobile() {
        margin-top: wv-380(31px);
      }
    }
  }
}