@import "../../../../styles/vars";

.container {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 14px 20px 13px;
  background-color: $brick;
  @include H5();
  color: $light;

  @include mobile() {
    background-color: transparent;
    width: 100%;
    padding: 15px 22px 15px 18px;
    border: 1px solid rgba(249, 245, 243, 0.3);
  }
}


