@import "../../../../../../styles/functions";
@import "../../../../../../styles/vars";
.section {
  width: 100%;
  padding-top: wv-1460(25px);
  padding-bottom: wv-1460(20px);
  background-color: $darker-light;
  position:relative;
  overflow: hidden;
  height: wv-1460(900px);

  @include laptop() {
    height: wv-1200(900px);
    padding-top: wv-1200(25px);
    padding-bottom: wv-1200(20px);
  }
  @include tablet() {
    width: 100vw;
    height: unset;
    padding-top: wv-768(25px);
    padding-bottom: wv-768(20px);
  }
  &__titles{
    width:wv-1460(460px);
    position: absolute;
    z-index: 6;
    @include wrapper();
    @include laptop() {
      width: wv-1200(460px);
    }
    @include tablet() {
      width: wv-768(460px);
    }
  }
  &__title{
    @include H4();
    color:$brick;
  }
  &__button{
    width:wv-1460(150px);
    padding-top:wv-1460(25px);

    @include laptop() {
      padding-top:wv-1200(25px);
      width: wv-1200(150px);
    }
    @include tablet() {
      padding-top:wv-768(25px);
      width: wv-768(150px);
    }
  }
  &__disclaimer{
    @include T2();
    display: flex;
    align-items: center;
    gap: wv-1460(8px);
    padding-top:wv-1460(20px);
    @include laptop() {
      gap: wv-1200(8px);
      padding-top:wv-1200(20px);
    }

    @include tablet() {
      gap: wv-768(8px);
      padding-top:wv-768(20px);
    }
    & span {
      color: $dark-grey;
      opacity: 0.5;
    }
  }
}
.plan{
  overflow: hidden;
  width: wv-1460(1115px);
  height:wv-1460(568px);
  margin-top: wv-1460(139px);
  position: relative;
  z-index:4;
  margin-left: auto;
  margin-right: wv-1460(32px);

  @include laptop() {
    width: wv-1200(900px);
    height:wv-1200(458px);
    margin-top: wv-1200(200px);
    margin-left: auto;
    margin-right: wv-1200(32px);
  }

  @include tablet() {
    width: 100%;
    height: wv-768(600px);
    margin-top:wv-768(60px);
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: unset;
    margin-right: unset;
  }
  svg {
    position: absolute;
    top: 0;
    z-index: 3;
    display: block;
    height:100%;
    left: 50%;
    transform: translateX(-50%);
    @include tablet() {
      left: 0 !important;
      transform:none;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    display: block;
    height:100%;
    width: auto !important;
    z-index: 2;
    left: 50% !important;
    transform: translateX(-50%);
    @include tablet() {
      left: 0 !important;
      transform:none;
    }
  }
}
.slider_container{
  width: wv-1460(335px);
  height: calc(#{wv-1460(900px)} - #{wv-1460(234px)});
  position: absolute;
  z-index: 8;
  top: wv-1460(215px);
  left: wv-1460(20px);

  @include laptop() {
    width: wv-1200(280px);
    height: calc(#{wv-1200(900px)} - #{wv-1200(234px)});
    top: wv-1200(215px);
    left: wv-1200(20px);
  }
  @include tablet() {
    width: 100%;
    height: unset;
    position: relative;
    margin-top:wv-768(60px);
    top: unset;
    left: unset;
  }
}
.slider {
  height: 100%;
  width: 100%;
  user-select: none;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include laptop() {
    overflow: auto;
    overflow-y: hidden;
    height: 100%;
  }

  @include tablet() {
    overflow: auto;
    overflow-y: hidden;
    height: wv-768(100px);
    bottom:0;
    // width: -moz-fit-content;
    // width: fit-content;
    // min-width: wv-768(280px);
  }
}

.slide {
  width: auto !important;
  height: auto !important;

  @include tablet() {
  margin-left: wv-1460(30px);
  margin-right: wv-1460(30px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    height: fit-content;
    transition: all 0.5s;

    @include tablet() {
      height: unset;
      margin: 0 auto;
    }

    &_title {
      cursor: pointer;
      @include H1;
      font-size: wv-1460(81px);
      line-height: wv-1460(95px);
      color: $dark-grey;

      @include laptop() {
        font-size: wv-1200(64px);
        line-height: wv-1200(80px);
      }

      @include tablet() {
        @include H1;
        font-size: inherit;
        line-height: inherit;
      }
    }
    &_text {
      @include C1;
      color: $brick;
      opacity: 0;
      height: wv-1460(16px);
      @include laptop() {
        height: wv-1200(16px);
      }
      @include tablet() {
        height: wv-768(16px);
      }
    }

    &_icon {
      position: absolute;
      right: wv-1460(-3px);
      transform: translateX(100%) translateY(wv-1460(30px));
      opacity: 0;
      column-gap: 4px;
      display: flex;
      align-items: center;

      @include laptop() {
        right: wv-1200(-3px);
        transform: translateX(100%) translateY(wv-1200(30px));
      }

      @include tablet() {
        transform: translateX(100%);
        right: 0;
      }

      a {
        width: wv-1460(20px);
        height: wv-1460(20px);

        @include laptop() {
          width: wv-1200(20px);
          height: wv-1200(20px);
        }

        @include tablet() {
          width: wv-768(20px);
          height: wv-768(20px);
        }
      }

      &_text {
        display: initial;
        font-family: $content-300-font;
        font-style: normal;
        font-weight: 300;
        font-size: wv-1460(12px);
        line-height: wv-1460(14px);
        color: $brick;

        @include laptop() {
          font-size: wv-1200(12px);
          line-height: wv-1200(14px);
        }

        @include tablet() {
          font-size: wv-768(12px);
          line-height: wv-768(14px);
        }

        @include mobile() {
          font-size: wv-380(12px);
          line-height: wv-380(14px);
        }
      }

      &:hover {
        .slide__content_icon_text {
          opacity: 0;
        }
      }
    }
  }
  &.active &__content {
    &_text, &_icon {
      opacity: 1;
    }
    &_title {
      color: $brick;
    }
  }
  &.disabled &__content {
    opacity: 0.1;
  }
}
.aside {
  display: flex;
  height: 100%;
  width: fit-content;
  z-index: 1000;

  & > div {
    position: fixed;
    pointer-events: none;
  }

  & div {
    overflow: hidden;
  }
}

.hidden {
  & > path {
    fill: transparent !important;
    stroke: transparent !important;
  };
}

.modal {
  &__text {
    position: absolute;
    z-index: 6;
    right: 0;
    top: wv-1460(15px);
    display: block;
    @include T2();
    overflow: visible;
    width: wv-1460(230px);
    @include laptop() {
      top: wv-1200(15px);
      width: wv-1200(230px);
    }
    @include tablet() {
      top: wv-768(15px);
    }
  }
  &__number {
    @include H1();
    color: $brick;
  }
}


.arrow {
  position: absolute;

  @media screen and (min-width: 541px) and (max-width: 1024px) {
    width: wv-768(30px);
    height: wv-768(30px);
    bottom: wv-768(36px);
  }
  @media screen and (min-width: 1025px) and (max-width: 1400px) {
    width: wv-1200(30px);
    height: wv-1200(30px);
    bottom: wv-1200(36px);
  }
  @include tablet() {
    width: wv-768(30px);
    height: wv-768(30px);
    bottom: wv-768(36px);
  }

  &__prev {
    @media screen and (min-width: 541px) and (max-width: 1024px) {
      left: wv-768(20px);
    }
    @media screen and (min-width: 1025px) and (max-width: 1400px) {
      left: wv-1200(20px);
    }
    @include tablet() {
      left: wv-768(20px);
    }
  }

  &__next {
    @media screen and (min-width: 541px) and (max-width: 1024px) {
      right: wv-768(20px);
    }
    @media screen and (min-width: 1025px) and (max-width: 1400px) {
      right: wv-1200(20px);
    }
    @include tablet() {
      right: wv-768(20px);
    }
  }
}