@import "../../../../../../styles/functions";
@import "../../../../../../styles/vars";
.section {
  position: relative;
  width: 100%;
  height: wv-1460(900px);
  background: $dark-grey;
  overflow: hidden;

  &__wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    @include wrapper();
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.bg_image{
  //transition: all 1.2s;
  //transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  position:absolute;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  img{
    object-fit: cover;
    height: 100% !important;
    width: 100vw;
  }
}
.contain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  a {
    width: wv-1460(100px) !important;
    height: wv-1460(100px) !important;

    & > span {
      width: wv-1460(100px);
      height: wv-1460(100px);
      @include tablet {
        width: wv-768(100px);
        height: wv-768(100px);
      }

      @include mobile {
        width: wv-380(60px);
        height: wv-380(60px);
      }
    }

    svg {
      width: wv-1460(20.7167px) !important;
      height: wv-1460(17.65px) !important;
    }
  }

}
.text {
  @include H1();
  color: $light;
  margin-bottom: wv-1460(50px);
  @include laptop() {
    margin-bottom: wv-1200(50px);
  }
  @include tablet() {
    margin-bottom: wv-768(50px);
  }
}
.animated_button {
  width: wv-1460(100px) !important;
  height: wv-1460(100px) !important;

  @include laptop {
    width: wv-1200(100px) !important;
    height: wv-1200(100px) !important;
  }

  @include tablet {
    width: wv-768(100px) !important;
    height: wv-768(100px) !important;
  }

  @include mobile {
    width: wv-380(100px) !important;
    height: wv-380(100px) !important;
  }

  & > span {
    width: wv-1460(100px) !important;
    height: wv-1460(100px) !important;

    @include tablet {
      width: wv-768(100px) !important;
      height: wv-768(100px) !important;
    }

    @include mobile {
      width: wv-380(60px) !important;
      height: wv-380(60px) !important;
    }
  }

  svg {
    width: wv-1460(20px) !important;
    height: vh-900(20px) !important;

    @include laptop {
      width: wv-1200(20px) !important;
      height: wv-1200(20px) !important;
    }

    @include tablet {
      width: wv-768(20px) !important;
      height: wv-768(20px) !important;
    }

    @include mobile {
      width: wv-380(20px) !important;
      height: wv-380(20px) !important;
    }
  }
}

