@import "../../../../../../styles/functions";
@import "../../../../../../styles/vars";
.section {
  position: relative;
  width: 100%;
  background: $dark-grey;
  overflow: hidden;
}
.bg_image{
  position:absolute;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  img{
    object-fit: cover;
    height: 100% !important;
    width: 100vw;
  }
}
.content_wrapper {
  @include wrapper();
  position: relative;
  padding-top: wv-1460(20px);
  padding-bottom: wv-1460(96px);
  @include laptop() {
    padding-top: wv-1200(20px);
    padding-bottom: wv-1200(96px);
  }
  @include tablet() {
    padding-top: wv-768(20px);
    padding-bottom: wv-768(96px);
  }

  &__title{
    @include H3();
    color:$brick;
    width: wv-1460(570px);
  }
  &__history_button{
    padding-top:wv-1460(30px);
    width: wv-1460(211px);
    @include laptop() {
      width: wv-1200(211px);
    }
    @include tablet() {
      width: wv-768(211px);

    }
  }
}
.points{
  width:100%;
  &__wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    gap: wv-1460(20px);
    margin-top: wv-1460(130px);
    @include laptop() {
      gap: wv-1200(20px);
      margin-top: wv-1200(130px);
    }
    @include tablet() {
      gap: wv-768(20px);
      margin-top: wv-768(130px);

    }
  }
  &__point{
    width: calc((100% / 4) - (20px / (1460px) * 100vw));
    cursor: pointer;
    &:hover {
      .points__point__year {
        opacity: 1;
      }
    }
    &__active {
      .points__point__text  {
        & > p {
          opacity: 1;
          word-wrap: break-word;
        }
        border-color: $light;
      }
      .points__point__year {
        opacity: 1;
        color: $light;
      }
    }
    &__text{
      @include T1();
      color:$light;
      padding-top:wv-1460(25px);
      @include laptop() {
        padding-top: wv-1200(25px);
      }
      @include tablet() {
        padding-top: wv-768(25px);

      }
      border-top: 1px solid rgba(249, 245, 243, .4);
      transition: border 0.6s ease;
      & > p {
        opacity: 0;
        margin: 0;
        transition: opacity 1.2s ease;
      }
    }
    &__year{
      @include H2();
      color:$light;
      opacity: 0.3;
      margin-bottom: 11px;
      transition: opacity 0.6s ease;
    }
  }

}