@import "../../../../../../styles/vars";
@import "../../../../../../styles/functions";
.section_container{
  padding-top:wv-1460(120px);
  padding-bottom:wv-1460(180px);
  @include laptop() {
    padding-top:wv-1200(120px);
    padding-bottom:wv-1200(180px);
  }
  @include tablet() {
    padding-top:wv-768(114px);
  }
  @include mobile() {
    padding-top:wv-380(80px);
    padding-bottom:wv-380(80px);
  }
  @include wrapper;
}
//общий контейнер для карточек
.card_container{
  display:flex;
  flex-direction: row;
  gap:wv-1460(20px);
  @include laptop() {
    gap:wv-1200(20px);
  }
  @include tablet() {
    gap:wv-768(20px);
  }
  @include mobile() {
    flex-direction: column;
    gap:wv-380(20px);
  }
}
.card_container__wrap{
  display:flex;
  flex-direction: row;
  gap:wv-1460(20px);
  flex-wrap: wrap;

  @include laptop() {
    gap:wv-1200(20px);
  }
  @include tablet() {
    gap:wv-768(20px);
  }
  @include mobile() {
    gap:wv-380(20px);
    flex-direction: row;
  }
}