@import "../styles/vars";

#builds {
  pointer-events: none;
}


.building-scheme {
  position: relative;

  .cls-8, .cls-14 {
    opacity: 0;
    visibility: hidden;
  }

  .cls-7 {
    stroke: rgb(20%, 13%, 11%, 0.5);
    fill: rgba(255, 255, 255, 0.7);
  }

  .cls-5 {
    pointer-events: none;
  }

  &__build {
    pointer-events: visible;
    transition: all 0.3s;

    & .cls-7 {
      transition: all 0.3s;
      opacity: 0.4;
      fill: rgba(232, 228, 224);
      stroke: rgba(231, 208, 205, 0.1);
    }

    & .cls-5 {
      transition: all 0.3s;
      opacity: 0.1;
      stroke: rgba(231, 208, 205);
    }

    &_enable {
      cursor: pointer;
      transition: opacity 0.3s ease;

      &.st0, &.st1 {
		opacity: 0 !important;

        &:hover {
          opacity: 0.6 !important;
        }

		@include tablet {
			&:hover {
				opacity: 0 !important;
			}
		}

		@include mobile {
			&:hover {
				opacity: 0 !important;
			}
		}
      }

      & .cls-7 {
        transition: all 0.3s;
        fill: rgba(233, 231, 230, 1);
        stroke: rgba(57, 62, 70, 1);

        &:hover {
          fill: $brick;
        }
      }

      &.active {
        .cls-7 {
          fill: $brick;
        }
      }
    }

    &_not-sale {
      cursor: pointer;
      transition: all 0.3s;

      &.st0, &.st1 {
		opacity: 0.6;
        &:hover {
          opacity: 0.6;
        }
      }

      &:hover {
        .cls-5 {
          stroke: #B1B1B1;
        }
      }

      & .cls-7 {
        transition: all 0.3s;
        fill: rgba(233, 231, 230, 1);
        stroke: rgba(57, 62, 70, 1);

        &:hover {
          fill: rgba(255, 255, 255, 0.7);
        }
      }

      &.active {
        .cls-5 {
          stroke: #B1B1B1;
        }
        .cls-7 {
          fill: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

.building-scheme__house-number {
  pointer-events: all;

  .st1, .st2, .st3 {
    transition: all .3s ease;
  }

  &:hover {
    .st1 {
      opacity: 0.6;
    }

    .st2 {
      fill: $light;
    }

    .st3 {
      fill: $dark-grey;
    }
  }
}

#numbers {
  pointer-events: none;
}

.st0.active {
  opacity: 0.6;
}