@import "../../../../styles/vars";

.container {
  position: fixed;
  height: 100%;
  z-index: 310;
  width: wv-1460(360px);
  top: 0;

  @include laptop() {
    width: wv-1200(360px);
  }

  @include tablet() {
    width: 100vw;
  }

  @include mobile() {
    width: 100vw;
  }

  &:after {
    position: absolute;
    content: "";
    height: wv-1460(70px);
    width: wv-1460(360px);
    top: 0;
    left: 0;
    background-color: $light;

    @include laptop() {
      height: wv-1200(70px);
      width: wv-1200(360px);
    }

    @include tablet() {
      height: wv-768(70px);
      width: 100%;
    }

    @include mobile() {
      height: wv-380(70px);
      width: 100%;
    }
  }
}

.wrapper {
  @include wrapper;
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $light;
  padding-top: wv-1460(74px);
  padding-bottom: wv-1460(30px);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);

  @include laptop() {
    padding-top: wv-1200(74px);
    padding-bottom: wv-1200(30px);
  }

  @include tablet() {
    padding-top: wv-768(74px);
    padding-bottom: wv-768(30px);
  }

  @include mobile() {
    padding-top: wv-380(74px);
    padding-bottom: wv-380(30px);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: wv-1460(25px);
  border-top: 1px solid rgb(22%, 24%, 27%, 0.15);
  height: 40%;

  @include laptop() {
    height: 40%;
    padding-top: wv-1200(25px);
  }

  @include tablet() {
    height: 40%;
    padding-top: wv-768(25px);
  }

  @include mobile() {
    height: 40%;
    padding-top: wv-380(25px);
  }
}

.top {
  padding-bottom: wv-1460(25px);

  @include laptop() {
    padding-bottom: wv-1200(25px);
  }

  @include tablet() {
    padding-bottom: wv-768(25px);
  }

  @include mobile() {
    padding-bottom: wv-380(25px);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: wv-1460(25px);

  @include laptop() {
    padding-top: wv-1200(25px);
  }

  @include tablet() {
    padding-top: wv-768(25px);
  }

  @include mobile() {
    padding-top: wv-380(25px);
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: wv-1460(5px);

  @include laptop() {
    gap: wv-1200(5px);
  }

  @include tablet() {
    gap: wv-768(5px);
  }

  @include mobile() {
    gap: wv-380(5px);
  }
}

.link {
  display: flex;
  align-items: center;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.svg {
  display: block;
  padding: wv-1460(10px);
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;

  @include laptop() {
    padding: wv-1200(10px);
  }

  @include tablet() {
    padding: wv-768(10px);
  }

  @include mobile() {
    padding: wv-380(10px);
  }
  svg {
    width: wv-1460(13.3px);
    height: wv-1460(7px);

    @include laptop() {
      width: wv-1200(13.3px);
      height: wv-1200(7px);
    }

    @include tablet() {
      width: wv-768(13.3px);
      height: wv-768(7px);
    }

    @include mobile() {
      width: wv-380(13.3px);
      height: wv-380(7px);
    }
  }
}

.svgUp {
  transform: rotate(180deg);
  // transition: transform 0.3s ease-in-out;
}

.item {
  cursor: pointer;

  & + & {
    margin-top: wv-1460(4px);

    @include laptop() {
      margin-top: wv-1200(4px);
    }

    @include tablet() {
      margin-top: wv-768(4px);
    }

    @include mobile() {
      margin-top: wv-380(9px);
    }
  }

  &_top {
    @include H4;
  }

  &_bottom {
    @include C1;
    line-height: 114%;
    @include mobile() {
      font-size: wv-380(14px);
      line-height: wv-380(16px);
    }
  }

  & a, button {
    text-transform: uppercase;
    color: $dark-grey;
  }
}

.current {
  color: $brick !important;
}

.button {
  position: absolute;
  top: wv-1460(20px);

  @include laptop() {
    top: wv-1200(20px);
  }

  @include tablet() {
    top: wv-768(20px);
  }

  @include mobile() {
    top: wv-380(20px);
  }

  & svg {
    transform: rotate(180deg);
  }
}

.button__favorites {
  cursor: pointer;
  @include H4;
}
